/* for card rotate */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    overflow: hidden;
}

/* flip the pane when hovered*/
.flip-container:hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);    
}
.flip-container:hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);       
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;

    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;

    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;

    transition: 1s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */

    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;

    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;

    transition: 1s;
    transform-style: preserve-3d;
}

/* front pane, placed above back */
.front {
    z-index: 1002; 
}

/* back, initially hidden pane */
.back {
    padding-top: 30px;
    transform: rotateY(180deg);             
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

