
@{
    ViewBag.Title = "ProjectLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-header">
    <span class="col-md-5 logo"></span>
    <div class="col-md-3 machine">
        <span class="img-computer"></span>
        <span>@((ViewBag.compName != null) ? ViewBag.compName : "SHG-L80000000")</span>
    </div>
</div>
<div class="container content-body">

</div>
